<h2 class="page-title">The VA URL Shortener</h2>
<h3 class="page-subtitle">A Service of OI&amp;T Product Development</h3>

<section class="page-box">
	<article>
		<h3>URL Shortener</h3>
		<p><a href="/urls">go.va.gov</a>, VA's Official URL Shortener is available to all VA users.</p>
	</article>
</section>